{% extends 'base.html' %}

{% block content %}

<h3>Home</h3>

<div class="row home-banner">
        <span>Modern and Vintage Used Guitars from Dublin to the World</span>
</div>

<h3>Featured Products</h3>

    <div class="row">
        {% for product in featured_products %}
        <div class="col-sm-3 column-align">
            {% if product.image %}
                <a href="{% url 'product_details' product.id %}"><img src="{{ product.image }}" class ="product-col"></a>
            {% endif %}
            <a href="{% url 'product_details' product.id %}"><span class="product-name">{{ product.name|upper }}</span></a>
            {% if product.price != 0 %}
                <p><span class="boldtext"></span>€ {{ product.price }}</p>
            {% else %}
                <p><span class="boldtext"></span>Call us for pricing</p>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>

{% endblock %}