{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %}


{% block content %}


<div id="cart-container" class="container">
    <div class="cart-div">
        <div class="row">
            <div class="col-sm-12">
                <h2>CHECKOUT</h2>
            </div>
        </div>
        {% for item in cart_items %}
        <div class="row cart-item-row">
            
            <!--Image-->
            <div class="col-sm-3">
                <img class="cart-item-image" src="{{MEDIA_URL}}{{item.product.image}}"></img>
            </div>
            
            <!--Product Description-->
            <div class="col-sm-6">
                <div>
                    <small>product</small>
                </div>
                <hr>
                
                <div class="cart-product-name">
                    <h5>{{ item.product.name }}</h5>
                </div>  
                
                <div class="cart-product-manufacturer">
                    {{item.product.manufacturer}} | {{ item.product.type }}
                </div>
            </div>
            
            <!--Price-->
            <div class="col-sm-2">
                <div class="cart-subheading">
                    <small>price</small>
                </div>
                <hr>
                
                <div>€ {{item.product.price}}</div>
            </div>
            
            <!--Delete-->
            <div class="col-sm-1">
                <div style="text-align: center">
                    <small>options</small>
                </div>
                <hr>
                <form action="{% url 'remove_from_cart' %}" method="POST" style=" display:inline!important;">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item.product.id }}"/>
                    
                </form>
            </div>
        </div>
        {% endfor %}
        
        <!--Total-->
        <div class="row">
            {% if total > 0 %}
            <div class="col-sm-8"></div>
            <div class="col-sm-4 total-and-checkout" style="text-align: right">
                <div>
                    <h3>Total:  € {{total}}</h3>
                </div>
            </div>
            {% else %}
            <div class="col-sm-12 empty-cart">
                YOUR CART IS EMPTY
            </div>
            {% endif %}
        </div>
        
        <!--Continue/Checkout-->
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 total-and-checkout">
                {% if total == 0 %}
                <a href="{% url 'get_index' %}" class="btn btn-info checkout-continue-button">Continue Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if total > 0 %}
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>
        
        <div id="credit-card-errors" style="display: none">
            <div class="alert-message black-message error" id="stripe-error-message"></div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ purchase_form | as_bootstrap }}
            </div>
        
            <div class="form-group col-sm-6">
                {{ payment_form | as_bootstrap }}
            </div>
        </div>
        
        
        {% csrf_token %}
        
        <div class="form-group col-sm-12">
            <button class="remove-from-cart-button btn btn-info" name="commit" type="submit">Submit Payment</button>
        </div>
    </form>
    {% endif %}

</div>
    
<script type="text/javascript" src="/static/js/navbarColor.js"></script>
<script type="text/javascript" src="/static/js/bodyColor.js"></script>
    
    
{% endblock %}