{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<!--Background Image------------------------------------------------------------------------------->

<section class="form-section">

<!--Upload Form------------------------------------------------------------------------------------->

    <div id="form-container" class="container" style="margin-top: 0px">
        <div class="row">
            <div class="col-sm-12 form-col">
                <form class="form-horizontal form-form" role="form" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data" novalidate>
                    <h3 class="form-header">UPLOAD NEW PRODUCT</h3>
                    {% csrf_token %}
                    <div class="row upload-field-row">
                        <div class="col-sm-8">Product Name {{ form.name }}</div>
                        <div class="col-sm-4">{{ form.manufacturer.label }} {{ form.manufacturer }}</div>
                    </div>
                    
                    <div class="row upload-field-row">
                        <div class="col-sm-6">Year of Manufacture {{ form.year }}</div>
                        <div class="col-sm-6">{{ form.type.label }} {{ form.type }}</div>
                    </div>
                    
                    <div class="row upload-field-row">
                        <div class="col-sm-12">{{ form.description.label }} {{ form.description }}</div>
                    </div>
                    
                    <div class="row upload-field-row">
                        <div class="col-sm-4">{{ form.price.label }} {{ form.price }}</div>
                        <div class="col-sm-6">Main Image <div class="input-group main-image-div">{{ form.image }}</div></div>
                        <div class="col-sm-2">Featured {{ form.featured }}</div>
                    </div>
                    
                    <hr>
                    
                    {{ formset.management_form }}
                    
                    <div class="col-sm-6">
                        <label>Gallery Images</label>
                    </div>
                    
                    {% for form in formset %}
                        <div class="row form-row spacer">
                            <div class="col-sm-6">
                                <div class="input-group gallery-image-input-div">
                                    {{form.image}}
                                    <div class="input-group-append">
                                        <button class="btn btn-success add-form-row dynamic-form-button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div class="row upload-field-row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button id="upload-button" type="submit" class="btn btn-block">Upload</button>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/static/js/navbarColor.js"></script>

{% endblock %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    console.log("clone more function is running")
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row dynamic-form-button')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    console.log("add form button is being clicked")
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    console.log("hi")
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
{% endblock %}