.pagination {
    text-align: center;
    margin-top: 1em;
    display: block;
    padding-bottom: 8vh;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: .5em;
    color: #B9B9B9;
    font-size: 1.3em;
    border: 1px;
}

.pagination-action:hover {
    color: #DB3832;
    text-decoration: none;
}

.pagination-number {
    width: 50px;
}

.pagination-number:hover, .pagination-current {
    color: #DB3832;
}

.pagination-number a {
    color: #FFFFFF;
    text-decoration: none;
}

.pagination-border {
    border: solid 1px #DB3832;
    border-radius: 3px;
}