a:hover {
    text-decoration: none;
}

.products-body {
    text-align: center;
}

.product-col {
    width: 100%;
}

.filter-search-div {
    text-align: center;
    
}

.search-row {
    text-align: center;
    padding-bottom: 5vh;
}

.sort-col {
    text-align: right;
    padding-bottom: 5vh;
}

.filter-brand-col {
    text-align: left;
}



.product-name:hover {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: none;
}

.price-text {
    color: #FFFFFF;
}

.type-header {
    text-align: center;
}

.column-align {
    text-align: center;
}
.heading {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    
}
.heading hr {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    height: 4px;
    border: 0;
    border-top: solid 1px #444;
    border-bottom: solid 1px #444;
}

.heading hr {
    width: 100%;
    left: 0;
    z-index: 1;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
}
.heading h2 {
    background-color: #111;
    margin: 0;
    padding: 0 30px;
    display: inline-block;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    letter-spacing: 4px;
    z-index: 9;
    position: relative;
    background-color: #222;

}

h2 {
    background-color: #222;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



.heading-lighter {

}


.align-products-left {
    text-align: left;
}

.grow {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
.grow:hover {
    transition: all .2s ease;
    transform: scale(1.1);
}