a:hover {
    text-decoration: none;
}

.products-body {
    text-align: center;
}

.featured-products-body {
    background: #000;
}

.product-col {
    width: 100%;
}

.filter-search-div {
    text-align: center;
    
}

.search-row {
    text-align: right;
}

.sort-col {
    text-align: right;
    padding-bottom: 5vh;
}

.filter-brand-col {
    text-align: left;
}

.product-name {
    color: #EA1920;
    text-decoration: none;
}

.product-name:hover {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: none;
}

.price-text {
    color: #FFFFFF;
}

.type-header {
    text-align: center;
}

.column-align {
    text-align: center;
}

.type-header {
    position: relative;
    margin-top: 20px;
    font-size: 2.2rem;
    padding-bottom: 5vh;
}

.type-header.one {
    margin-top: 0;
}

.type-header.one:before {
    content: "";
    display: block;
    border-top: solid 1px #3C3C3C;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.type-header.one span {
    background: #1F1F1F;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.type-header.two {
    margin-top: 0;
}

.type-header.two:before {
    content: "";
    display: block;
    border-top: solid 1px #3C3C3C;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.type-header.two span {
    background: #000;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.align-products-left {
    text-align: left;
}