@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf');
}

body {
  font-family: LeagueGothic;
  letter-spacing: .1rem;
}

select {
  border: 1px solid #ed1d24;
  -webkit-appearance: none;
  border-radius: 3px;
  padding: 10px 40px 10px 10px;
  background-color: transparent;
  color: #fff;

  font: 400 11px system-ui;
  font-size: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/3152/t/5/assets/bg-dropdown.png?1729334);
  background-position: 100% center;
  background-repeat: no-repeat;
}

.border-btm {
  border-bottom: white solid 1px;
}

.border-lft {
  border-left: white solid 1px;
}

#featured-heading {
    background-color: #000;
}

.content-background-div {
  background: #222;
  color: #FFFFFF;
}

.featured-background-div {
  background: #000;
  color: #FFFFFF;
}

.paginator-div {
  text-align:center;
}

.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}

.no-margin-top {
  margin-top: 0px;
}

.logo {
  width: 30%;
}

.search-bar {
  background-color: inherit;
  width: 80%;
  padding: 2vh;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #9A9A9A;
}

.search-bar:focus {
    outline: none;

}