.content-background-div {
  background: #1F1F1F;
  color: #FFFFFF;
}

.featured-background-div {
  background: #000;
  color: #FFFFFF;
}

.paginator-div {
  text-align:center;
}

.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}

.no-margin-top {
  margin-top: 0px;
}