@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf');
}

body {
  font-family: LeagueGothic;
  letter-spacing: .1rem;
}

select {
  border: 1px solid #ed1d24;
  -webkit-appearance: none;
  border-radius: 3px;
  padding: 10px 40px 10px 10px;
  background-color: transparent;
  color: #fff;

  font: 400 11px system-ui;
  font-size: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/3152/t/5/assets/bg-dropdown.png?1729334);
  background-position: 100% center;
  background-repeat: no-repeat;
}

.logo-align-center {
  padding-top: 8vh;
  text-align: center;
}

.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
  width: 100%;
}

.navbar-nav {
    display: inline;
}

.navbar-li {
  display: inline-block;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

.nav-top-margin {
  padding-top: 5vh;
}

.navtab {
  color: #FFF;
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.2rem;
}
.navtab:hover { 
  color: #EA1920;
  text-decoration: none;
}

.navtab-li {
  padding-left: 20px;
}

.navbar-center {
  width: 800px;
}

.content-background-div {
  background: #1F1F1F;
  color: #FFFFFF;
}

.featured-background-div {
  background: #000;
  color: #FFFFFF;
}

.paginator-div {
  text-align:center;
}

.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}

.no-margin-top {
  margin-top: 0px;
}

.logo {
  width: 50%;
}