{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block content %}

<!--Background Image------------------------------------------------------------------------------->

<section class="form-section">

<!--Register Form------------------------------------------------------------------------------------->

    <div id="form-container" class="container" style="margin-top: 0px">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 form-col">
                <form class="form-form" method="POST">
                    <h3 class="form-header">REGISTER</h3>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-submit-div">
                        <input class="form-submit" type="submit" value="Login"/>
                    </div>
                </form>
                <div class="form-alternative">
                    <small>Already have an account? <a href="{% url 'login' %}">Log In</a></small>
                </div>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript" src="/static/js/navbarColor.js"></script>


{% endblock content %}