{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!--Background Image--------------------------------------------------------------------------->

<div class="container blog-container" style="margin-top: 0px">
    
    <h2 id="blog-header">LATEST NEWS</h2>
    {% for post in posts %}
    <div class="row">
        <a class="news-link" href="{% url 'post_detail' post.id %}">
            <div class="col-sm-10 col-sm-offset-1 news-content-col">
                
                <!--Image-->
                <div class="blog-image-row">
                    <img src="{{MEDIA_URL}}{{ post.image }}" class="blog-image">
                </div>
                <!--Date-->
                <div class="blog-details-row">
                    <p>{{ post.published_date }}</p>
                </div>
                <!--Title-->
                <div class="blog-title">
                    <h3>{{ post.title|title }}</h3>
                </div>
            </div>
        </a>


        <hr>
    </div>
    {% endfor %}
</div>
    
<script type="text/javascript" src="/static/js/navbarColor.js"></script>
<script type="text/javascript" src="/static/js/bodyColor.js"></script>
    
    
{% endblock %}