{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}


<div class="container news-container" style="margin-top: 0px">
    
    <div class="row news-detail-header-row">
        
        <!--Header-->
        <div class="col-sm-7">
            <h2 id="news-detail-header">{{post.title|upper}}</h2>
            <br>
        </div>
        
        <!--Published date-->
        <div class="col-sm-5">
            <h2 id="news-detail-date">{{post.published_date}}</h2>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-12 news-content-col">
            
            <!--Image-->
            <div class="blog-image-row">
                <img src="{{MEDIA_URL}}{{ post.image }}" class="blog-image">
            </div>

            <!--Title-->
            <div class="container">
                <div id="news-detail-content" class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container news-detail-news-container">
    <div class="news-detail-news-area">
        <!--Header-->
        <div class="row">
            <div class="col-sm-12">
                <div class="home-news-header-div"><h2 class="more-news-header">MORE NEWS</h2></div>
            </div>
        </div>
        
        <!--News-->
        <div class="row">
            {% for news_item in news_items %}
            
            <div class="col-sm-4 news-grow">
                <a href="{% url 'post_detail' news_item.id %}" class="news-link">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="news-item-image" src="{{ MEDIA_URL }}{{ news_item.image }}"></img>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 >{{ news_item.title|upper }}</h2>
                        </div>
                    </div>
                </a>
            </div>
            

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12 see-all-news-col">
                <span><a href="{% url 'blog' %}">SEE ALL NEWS</a></span>
            </div>
        </div>
        
    </div>
</div>
    
<script type="text/javascript" src="/static/js/navbarColor.js"></script>
<script type="text/javascript" src="/static/js/bodyColor.js"></script>
    
    
{% endblock %}
