<!DOCTYPE html> 
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Someneck Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pager.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/repair.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

</head>

<body>

    <!--DIV CONTAINING EVERYTHING AS FAR AS FEATURED PRODUCTS-->
    <div class="content-background-div">
        <div class="container no-margin-top">
            
            <!--ACCOUNTS NAVBAR-->
            
            <!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">-->
                
            <!--    <div class="nav-align-right">-->
            <!--        <ul class="nav nav-pills pull-right mr-auto">-->

            <!--            {% if user.is_authenticated %}-->
            <!--            <li><a class="navtab" href='#'>{{ user.username }}</a></li>-->
            <!--            <li><a class="navtab" href="/accounts/profile">Profile</a></li>-->
            <!--            <li><a class="navtab" href="/accounts/logout">Log Out</a></li>-->
            <!--            {% else %}-->
            <!--            <li><a class="navtab" href="/accounts/register">Register</a></li>-->
            <!--            <li><a class="navtab" href="/accounts/login">Log In</a></li>-->
            <!--            {% endif %}-->
            <!--        </ul>-->
            <!--    </div>    -->
            <!--</nav>-->
            
            <!--BLOG-ABOUT NAVBAR-->
            <!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">-->
                
            <!--    <div class="nav-align-right"></div>-->
                
            <!--    <div class="nav-align-right">-->
            <!--        <ul class="nav nav-pills pull-right mr-auto">-->
    
            <!--            <li><a class="navtab" href="{% url 'blog' %}">Blog</a></li>-->
            <!--            <li><a class="navtab" href="{% url 'repair' %}">Repair</a></li>-->
            <!--            <li><a class="navtab" href="{% url 'about' %}">About</a></li>-->
            <!--            <li><a class="navtab" href="{% url 'contact' %}">Contact</a></li>-->
            <!--            <li><a class="navtab" href="https://www.facebook.com/Someneckguitars/"><i class="fa fa-facebook-square"></i></a></li>-->
            <!--            <li><a class="navtab" href="https://twitter.com/Someneckguitars"><i class="fa fa-twitter-square"></i></a></li>-->
            <!--            <li><a class="navtab" href="https://www.instagram.com/someneck"><i class="fa fa-instagram"></i></a></li>-->
            <!--        </ul>-->
            <!--    </div>-->
            <!--</nav>-->

            <div class="logo-align-center"><a href="{% url 'get_index' %}"><img src="{{MEDIA_URL}}images/someneck_logo_u84vyRV.png" class="logo"></img></a></div>
            <hr>

            <!--PRODUCTS NAVBAR-->
            <nav class="navbar navbar-default">
                <div class="container text-center">
                    <div id="navbar" class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'acoustic' %}">ACOUSTIC</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'electric' %}">ELECTRIC</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'bass' %}">BASS</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'amplifier' %}">AMPS</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'effects' %}">EFFECTS</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'pickup' %}">PICKUPS</a></li>
                            <li class="navbar-li"><a class="navtab" href="{% url 'products_by_type' 'audio' %}">AUDIO</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <hr> {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %} {{ message }} {% endfor %}
                </div>
            </div>
            {% endif %}


            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% block sidebar %} {% endblock sidebar %}
                    </ul>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock content%}
                </div>
            </div>
        </div>

        <!--PRODUCTS-->
        <div class="container">
            
            {% block products %}
            {% endblock %}
            
            <hr> 
            
            <!--PAGINATOR-->
            <div class="paginator-div">
                {% if products.paginator.num_pages > 1 %}
                    <div class="pagination">
                        {% if products.has_previous %}
                        <a class="pagination-action" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-angle-left"></i>
                        </a> 
                        {% endif %} 
                    {% for num in products.paginator.page_range %} 
                
                        {% if products.number == num %}
                        <span class="pagination-number pagination-current" onclick="window.location.href='?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}'">{{ num }}</span> 
                        
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                        <span class="pagination-number" onclick="window.location.href='?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}'">{{ num }}</span>
                        {% endif %}
                    {% endfor %}
                
                    {% if products.has_next %}
                        <a class="pagination-action" href="?page={{ products.next_page_number }}
                            {% if request.GET.q %}
                                &q={{ request.GET.q }}
                            {% endif %}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ products.paginator.num_pages }}
                            {% if request.GET.q %}
                                &q={{ request.GET.q }}
                            {% endif %}">
                            <i class="fa fa-angle-double-right"></i>
                        </a> 
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!--FEATURED PRODUCTS-->

        <div class="featured-background-div">
            
            <div class="container no-margin-top">
                <div class="featured-products-body">
                    <h1 class="type-header two"><span>Featured Products</span></h1>
    
                    <div class="row">
                        {% for product in featured_products %}
                        <div class="col-sm-3 column-align">
                            {% if product.image %}
                            <a href="{% url 'product_details' product.id %}"><img src="{{ product.image }}" class ="product-col"></a> {% endif %}
                            <a href="{% url 'product_details' product.id %}"><span class="product-name">{{ product.name|upper }}</span></a> {% if product.price != 0 %}
                            <p><span class="boldtext"></span>€ {{ product.price }}</p>
                            {% else %}
                            <p><span class="boldtext"></span>Call us for pricing</p>
                            {% endif %}
                        </div>
                        <hr> {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
</body>
</html>
