<!DOCTYPE html>
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Someneck Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pager.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/repair.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

</head>
<body>
    
    
    
    <div class="container">
        
        <div id="navbar" class="navbar-collapse collapse">
                
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href='#'>{{ user.username }}</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
                <li><a href="/accounts/logout">Log Out</a></li> 
                {% else %}
                <li><a href="/accounts/register">Register</a></li> 
                <li><a href="/accounts/login">Log In</a></li> 
                {% endif %}
            </ul>
        </div>
        
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'get_index' %}">Home</a></li>
                
                <li><a href="{% url 'products_by_type' 'acoustic' %}">Acoustic</a></li>
                <li><a href="{% url 'products_by_type' 'electric' %}">Electric</a></li>
                <li><a href="{% url 'products_by_type' 'bass' %}">Bass</a></li>
                <li><a href="{% url 'products_by_type' 'amplifier' %}">Amps</a></li>
                <li><a href="{% url 'products_by_type' 'effects' %}">Effects</a></li>
                <li><a href="{% url 'products_by_type' 'pickup' %}">Pickups</a></li>
                <li><a href="{% url 'products_by_type' 'audio' %}">Audio</a></li>

                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'repair' %}">Repair</a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="https://www.facebook.com/Someneckguitars/"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/Someneckguitars"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.instagram.com/someneck"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <h1><span class="fui-settings-16 muted">Someneck</span></h1>
        </div>
        
        
       <hr>
        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% block sidebar %}
                    {% endblock sidebar %}
                </ul>
            </div>
            <div class="content">
                {% block content %}
                {% endblock content%}
            </div>
        </div>
        
        <div class="footer">
           <p>Footer</p>
        </div>
    </div>
</body>

</html>